* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 800px;
  height: 800px;
}

.maze {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
}

.maze-layer-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  z-index: 1;
}

.tile {
  width: 80px;
  height: 80px;
  position: absolute;
}

.maze-layer-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  z-index: 2;
}

.wall {
  position: absolute;
}

.wall.vertical {
  width: 35px;
  height: 80px;
}
.wall.horizontal {
  width: 80px;
  height: 35px;
}

.pixelart {
  image-rendering: auto;
}

.player {
  width: 64px;
  height: 32px;
  overflow: hidden;
  position: absolute;
  z-index: 50;
}

.player-sprite {
  width: 192px;
  height: 129px;
}

.sheet {
  position: absolute;
}

.sheet[facing="down"] {
  top: 0px;
}
.sheet[facing="left"] {
  top: -32px;
}
.sheet[facing="right"] {
  top: -64px;
}
.sheet[facing="up"] {
  top: -96px;
}

.player-sprite[moving="true"] {
  animation: movement steps(3) infinite 0.5s;
}

.player-sprite[shoot="true"] {
  width: 768px;
  height: 129px;
  animation: movement steps(12) 0.2s;
}

.bullet {
  position: absolute;
  z-index: 45;
  width: 20px;
  height: 12px;
  overflow: hidden;
}

.bullet-sheet {
  position: absolute;
  width: 100px;
  height: 12px;
}

.bullet-sheet[moving="true"] {
  animation: movement steps(5) infinite 0.5s;
}

@keyframes movement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
