* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 800px;
  height: 800px;
}

.maze {
  position: relative;
  background: rgb(224, 6, 6);
  height: 100%;
}

.pixelart {
  image-rendering: auto;
}

.player {
  width: 64px;
  height: 32px;
  overflow: hidden;
  position: absolute;
}

.sheet {
  position: absolute;
}

.sheet[facing="down"] {
  top: 0px;
}
.sheet[facing="left"] {
  top: -32px;
}
.sheet[facing="right"] {
  top: -64px;
}
.sheet[facing="up"] {
  top: -96px;
}
