body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* below code for background styles*/
    background:
		linear-gradient(-115deg, black 1%, transparent),
		repeating-linear-gradient(45deg, 	black 0%, #3a3a3a 1%, transparent 5%, transparent 10%),
        repeating-linear-gradient(-45deg,black 0%,  	#3a3a3a 1%, transparent 0%, transparent 10%);
	background-color:#000;
}

.main{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    color: #f01e1e;
    font-family: "TheEndFont";
    font-size: 2rem;
    margin-bottom: 20%;
}

h1{
    font-family: "TheEndFont";
}

@font-face {
    font-family: "TheEndFont";
    src: url("../Assets/fonts/TheEndFont.ttf");
  }


