<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <div class="container">
        <div class="forms">
            <div class="switch-container">
                <div class="switch login-switch active">Login</div>
                <div class="switch signup-switch">Sign Up</div>
            </div>
            <div class="form-container">
                <form class="form login-form">
                    <div class="floating">
                        <input id="username" type="text" class="floating__input" name="username" placeholder=" " />
                        <label for="input__username" class="floating__label" data-content="Username">
                            <span class="hidden--visually">Email</span>
                        </label>
                    </div>
                    
                    <div class="floating">
                        <input id="password" type="password" class="floating__input" name="password" placeholder=" " />
                        <label for="input__password" class="floating__label" data-content="Password">
                            <span class="hidden--visually">Password</span>
                        </label>
                    </div>
                    
                    <a href="#" class="forget">Forgot Password?</a>
                    <button class="btn form-btn login-button">Login</button>
                </form>

                <form class="form signup-form hide">
                    <div class="floating">
                        <input id="email" type="text" class="floating__input" name="email" placeholder=" " />
                        <label for="input__email" class="floating__label" data-content="Email">
                            <span class="hidden--visually">Email</span>
                        </label>
                    </div>
                    <div class="floating">
                        <input id="username" type="text" class="floating__input" name="username" placeholder=" " />
                        <label for="input__username" class="floating__label" data-content="Username">
                            <span class="hidden--visually">Username</span>
                        </label>
                    </div>
                    <div class="floating">
                        <input id="password" type="password" class="floating__input" name="password" placeholder=" " />
                        <label for="input__password" class="floating__label" data-content="Password">
                            <span class="hidden--visually">Password</span>
                        </label>
                    </div>
                    <div class="floating">
                        <input id="password" type="password" class="floating__input" name="confirm_password" placeholder=" " />
                        <label for="input__password" class="floating__label" data-content="Confirm Password">
                            <span class="hidden--visually">Confirm Password</span>
                        </label>
                    </div>
                    <button class="btn form-btn signup-button">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="../controller/register.js"></script>
</html>