<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <div id="canvas">
            <div class="maze"></div>
        </div>
    <audio class="bg-sound" src="../Assets/Sounds/Dark_Ambient.mp3"></audio>
    </body>
<script type="module" src="../controller/main.js"></script>
</html>