<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <h2>Lobby </h2>
        <h3 id='gameId'>ID : <span><%= room[0].roomId %> </span></h3> 
        <div class="players-container"></div>
    </div> 
    <div class="start-btn"></div>
</body>
<script>
    //JSON object roomInfo converted to string
    let roomInfo = `<%- JSON.stringify(room[0]) %>`  
    //JSON object mainPlayer converted to string          
    let mainPlayer = `<%- JSON.stringify(room[0].players.filter((player)=>player._id==playerId)[0]) %>` 
    //session storage started
    sessionStorage.setItem('room', roomInfo)
    sessionStorage.setItem('mainPlayer', mainPlayer)
</script>
<script src="../public/javascript/lobby.js"></script>
</html>